html {
    position: relative;
    min-height: 100%;
}

body {
  padding-top: 50px;
  font-family: sans-serif;
}

.prediction-statement {
  font-style: italic;;
}

.hidden {
  position: absolute;
  visibility: hidden;
}

.debugPanel {
  color: slategray;
  background-color: darkslategray;
  padding: 10px;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.icon {
  fill: white;
}

.navbar .navbar-brand {
  padding-top: 13px;
}

/* Make navbar brand not hoverable */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    background-color: transparent !important;
    color: #c8c8c8 !important;
}

.brand * {
  vertical-align: middle;
}

ol {
    margin-top: 0 !important;
}

.wrapper {
    margin: 0 0 70px; /* bottom = footer-muted height */
    padding: 25px;
}

.footer-muted {
    background-color: transparent;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow:hidden;
}

.label-as-badge {
    border-radius: 1em;
}

.rw-calendar-grid {
    background-color: #fff !important;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #272b30 !important;
    margin: 1em 0;
    padding: 0;
}
